@import url('https://fonts.googleapis.com/css2?family=Digital+7&display=swap');

.app {
    display: flex;
    height: 100vh;
    background-color: #222;
    color: #0f0;
    font-family: 'Digital-7', monospace;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    width: 200px;
    height: 100px;
}

.increment-button,
button {
    background-color: #333;
    border: 1px solid #0f0;
    color: #0f0;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    outline: none;
}

.increment-button:hover,
button:hover {
    background-color: #444;
}

.count {
    font-size: 40px;
    margin-top: 20px;
    font-weight: bold;
    display: flex;
}


body {
    margin: 0;
    padding: 0;
    /* background-color: #000; */
}

button {
    font-family: 'Digital-7', monospace;
}

